@font-face {
    font-family: 'Open Sans';
    src: url(./Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
 }

body {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
}

/* Aqui começa a página inicial. */

.home{
    width: 100%;
    height: 100vh;
    background-image: url(./Imagens/Fundo\ Home.jpg);
}

.container{
    background-color: #f0f0eb;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.container menu{
    
}

.logoTopo {
    display: flex;
    padding: 5px 0px 5px 20px;
}

.menu{
    display: flex;
    justify-content: flex-end;
    color: #555652;
    text-decoration: none;
    align-items: center;
    margin-right: 30px;
}

.login{
    text-decoration: none;
    color: #555652;
    padding: 20px;
}

.logo{
    display: flex;
    justify-content: flex-start;
    padding: 250px 0px 100px 150px;
}

/* Aqui começa a página de contato. */

.contato{
    display: flex;
    width: 100%;
}

.menino{
    width: 50%;
}
.imgMenino{
    display: flex;
    width: 100%;
}

form{
    display: flex;
    align-items: center;
    width: 50%;
}

.faleconosco{
    color: #555652;
    text-align: center;
    font-weight: 200;
}

label{
    display: flex;
    color: #555652;
    margin: 5px;
}

fieldset{
    width: 80%;
    border: none;
    margin: 40px;
    padding: 10px;
}

input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #555652;
    height: 30px;
}

#cidade{
    width: 60%;
}

.cidade{
    display: flex;
}

#mensagem{
    height: 80px;
}

.enviar{
    width: 20%;
    margin: 10px;
    padding: 5px;
    background-color: #555652;
    color: #f0f0eb;
    border-radius: 5px;
}

button{
    align-items: center;
    border: none;
}
.btnEnviar{
    text-align: center;
}

/* Aqui começa o rodapé. */

footer{

}

.footerIcons{
    background-color: #40c5a1;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copy{
    display: flex;
    color: #f0f0eb;
    padding: 5px 0px 5px 20px;
}

.rodape{
    margin-right: 30px;
}

.icons{
    padding: 12px;
    width: 26px;
}

